# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Docker
Dockerfile*
docker-compose.yml

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log

# Temp
.gemini
